In [1]:
import pandas as pd
from math import sin, cos, sqrt, atan2, radians

In [2]:
joined = pd.read_csv("Resources/joined.csv")
camps = pd.read_csv("Resources/southwest_camp_data.csv")
mountains = pd.read_csv("Resources/14ers_data.csv", encoding = "ISO-8859â€“1")

In [3]:
camp = camps[["Long","Lat", "name", "type","phone", "dates", "# sites", "Elevation","State"]]
co_camp = camp[camp["State"] == "CO"]
co_example = co_camp

In [4]:
display(joined.head())
display(co_example)
display(mountains.head())

,Range,Trailhead,Road Type,14er 1,14er 2,14er 3,14er 4,14er 5
0,Elk,Maroon Lake,paved,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
1,Elk,Conundrum Creek,"2WD, easy dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
2,Front,Grays Peak,"2WD, rough dirt road",Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
3,Elk,Capitol Creek,Easy 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN
4,Elk,Castle Creek,Moderate 4WD,Pyramid Peak,Maroon Peak,North Maroon Peak,NaN,NaN

,Long,Lat,name,type,phone,dates,# sites,Elevation,State
259,-106.345,37.379,Alamosa,NF,719.274.8971/719-852-5941,,10,8665,CO
260,-106.858,38.654,Almont,NF,970.641.0471/970.874.6600,mid may-mid sep,10,8018,CO
261,-105.562,38.080,Alvarado,NF,719.269.8500/719.545.8737,early jun-mid oct,50,8986,CO
262,-107.665,38.019,Amphitheater,NF,970.240.5300/970.874.6600,mid jun-late sep,35,8320,CO
263,-106.221,38.583,Angel of Shavano,NF,719.539.3591/719.545.8737,,20,9180,CO
...,...,...,...,...,...,...,...,...,...
761,-108.055,37.885,Woods Lake,NF,970.327.4261/970.874.6600,mid may-mid oct,41,9455,CO
762,-107.287,37.973,Wupperman,CP,970.944.2319,,,9018,CO
763,-104.940,38.737,Wye,NF,719.636.1602/719.545.8737,mid may-mid sep,21,9790,CO
764,-106.678,39.502,Yeoman Park,NF,970.328.6388/970.945.2521,,24,9081,CO
765,-104.833,37.601,Yucca - Lathrop State Park,SP,719.738.2376,early may-mid oct,21,6404,CO

,ID,Mountain Peak,Mountain Range,Elevation_ft,fourteener,Prominence_ft,Isolation_mi,Lat,Long,Standard Route,Distance_mi,Elevation Gain_ft,Difficulty,Traffic Low,Traffic High,photo
0,1,Mt. Elbert,Sawatch Range,14440,Y,9093,670.00,39.1178,-106.4454,Northeast Ridge,9.50,4700,Class 1,20000,25000,https://www.14ers.com/photos/mtelbert/peakphot...
1,2,Mt. Massive,Sawatch Range,14428,Y,1961,5.06,39.1875,-106.4757,East Slopes,14.50,4500,Class 2,7000,10000,https://www.14ers.com/photos/mtmassive/peakpho...
2,3,Mt. Harvard,Sawatch Range,14421,Y,2360,14.93,38.9244,-106.3207,South Slopes,14.00,4600,Class 2,5000,7000,https://www.14ers.com/photos/harvardgroup/peak...
3,4,Blanca Peak,Sangre de Cristo Range,14351,Y,5326,103.40,37.5775,-105.4856,Northwest Ridge,17.00,6500,Hard Class 2,1000,3000,https://www.14ers.com/photos/blancagroup/peakp...
4,5,La Plata Peak,Sawatch Range,14343,Y,1836,6.28,39.0294,-106.4729,Northwest Ridge,9.25,4500,Class 2,5000,7000,https://www.14ers.com/photos/laplatapeak/peakp...

In [5]:
distance_list = []
mountain_list = []
camp_list = []
for l,m,n in zip(mountains["Mountain Peak"],mountains["Lat"],mountains["Long"]):
    lat1 = radians(m)
    lon1 = radians(n)
    for i, j, k in zip(co_example["Lat"],co_example["Long"], co_example["name"]):
        lat2 = radians(i)
        lon2 = radians(j)
        camp_name = k
        R = 3958.8
        dlon = lon2 - lon1
        dlat = lat2 - lat1
        a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
        c = 2 * atan2(sqrt(a), sqrt(1 - a))
        distance = (R * c)
        if distance <= 20:
            mountain_list.append(l)
            distance_list.append(distance)
            camp_list.append(camp_name)

In [6]:
distance_df = pd.DataFrame({
    "Mountains": mountain_list,
    "Distance from Campsite (miles)" : distance_list,
    "name": camp_list})
distance_df = distance_df.drop_duplicates()
distance_df

              Mountains  Distance from Campsite (miles)               name
0            Mt. Elbert                       11.667981           Baby Doe
1            Mt. Elbert                       11.652809  Belle of Colorado
2            Mt. Elbert                       16.725207            Chapman
3            Mt. Elbert                        6.697035             Dexter
4            Mt. Elbert                       17.685043          Difficult
...                 ...                             ...                ...
1059  North Maroon Peak                       15.578815           Redstone
1060  North Maroon Peak                        7.913072         Silver Bar
1061  North Maroon Peak                        6.766475        Silver Bell
1062  North Maroon Peak                        5.933690       Silver Queen
1063  North Maroon Peak                       14.653564             Weller

[1064 rows x 3 columns]

In [9]:
#This process created 6630 instances of campgrounds within 60 miles of the 14ers in CO, below is the counts of how many each has, unless I did everything wrong.
distance_df.groupby("Mountains").count()

                       Distance from Campsite (miles)  name
Mountains
Blanca Peak                                         2     2
Capitol Peak                                       13    13
Castle Peak                                        16    16
Challenger Point                                    4     4
Conundrum Peak                                     16    16
Crestone Needle                                     3     3
Crestone Peak                                       3     3
Culebra Peak                                        4     4
El Diente Peak                                     12    12
Ellingwood Point                                    2     2
Grays Peak                                         33    33
Handies Peak                                       15    15
Humboldt Peak                                       3     3
Huron Peak                                         29    29
Kit Carson Mountain                                 4     4
La Plata Peak                                      31    31
Little Bear Peak                                    2     2
Longs Peak                                         23    23
Maroon Peak                                        17    17
Missouri Mountain                                  27    27
Mt. Antero                                         21    21
Mt. Belford                                        24    24
Mt. Bierstadt                                      23    23
Mt. Bross                                          30    30
Mt. Cameron                                        32    32
Mt. Columbia                                       23    23
Mt. Democrat                                       31    31
Mt. Elbert                                         29    29
Mt. Eolus                                          16    16
Mt. Evans                                          22    22
Mt. Harvard                                        25    25
Mt. Lincoln                                        30    30
Mt. Lindsey                                         2     2
Mt. Massive                                        29    29
Mt. Oxford (Colorado)                              24    24
Mt. Princeton                                      21    21
Mt. Shavano                                        21    21
Mt. Sherman                                        24    24
Mt. Sneffels                                       11    11
Mt. Wilson                                         13    13
Mt. Yale                                           28    28
Mt. of the Holy Cross                              25    25
North Eolus                                        16    16
North Maroon Peak                                  17    17
Pikes Peak                                         16    16
Pyramid Peak                                       19    19
Quandary Peak                                      31    31
Redcloud Peak                                      20    20
San Luis Peak                                      15    15
Snowmass Mountain                                  15    15
Sunlight Peak                                      17    17
Sunshine Peak                                      19    19
Tabeguache Peak                                    21    21
Torreys Peak                                       34    34
Uncompahgre Peak                                   17    17
Wetterhorn Peak                                    15    15
Wilson Peak                                        12    12
Windom Peak                                        17    17